{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Заводя домашнего питомца в первую очередь нужно подумать о том, каким будет его рацион. Несмотря на то,
    что животные с удовольствием едят продукты, которыми мы питаемся сами, это не подходящая еда для кошек.
    В нашей пище не содержатся полезные вещества, необходимые организму кошки в нужном количестве.
    Для правильного и сбалансированного питания животное должно получать определенное количество белков и жиров,
    часть углеводов, минералов и витамин. Важно, чтобы пища содержала все эти компоненты в определенных пропорциях.
</p>
<h2>В магазине представлен следующий ассортимент:</h2>
<ul>
    <li>Корм для кошек</li>
    <li>Корм для собак</li>
    <li>Миски и кормушки</li>
    <li>Переноски и лежанки</li>
    <li>Игрушки</li>
    <li>Веттовары</li>
</ul>

{% endblock %}
