{% extends "app/layout.html" %}

{% block content %}
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div style="margin-bottom:70px">
    <a href="https://www.lubimchik.ru/" class="navbar-brand"> <img src="/static/app/content/cat.png" width="50" height="50" />Посетите наш основной сайт </a><br />
</div>
<div style="margin-bottom:70px">
    <a href="https://2gis.ru/surgut/search/%D0%97%D0%BE%D0%BE%D1%82%D0%BE%D0%B2%D0%B0%D1%80%D1%8B/rubricId/380" class="navbar-brand"> <img src="/static/app/content/2.jpg" width="70" height="50" />Найти другой магазин</a><br />
</div>
<div style="margin-bottom:70px">
    <a href="https://surgut.zoon.ru/shops/type/zootovary/" class="navbar-brand"> <img src="/static/app/content/3.png" width="50" height="50" />Зоомагазины в Сургуте</a><br />
</div>


{% endblock %}